data/
data/wilds/poverty_v1.1/images/landsat_poverty_img_17.npz
data/wilds/poverty_v1.1/images/landsat_poverty_img_0.npz
data/wilds/poverty_v1.1/images/landsat_poverty_img_0.npz
Anaconda3-2025.12-2-Linux-x86_64.sh
data/wilds/poverty_v1.1/images/landsat_poverty_img_1.npz
README.md
